.Card:hover {
  cursor: grab;
  transition:transform 200ms ease-out;
  transform:scale(1.05);
}

.Card {
  transition:transform 200ms ease-in;
  transform: scale(1);
  padding: 10px;
  height: calc(100% - 40px);
  margin: 20px;
  border-width: 2px;
  border-color: #00c851;
  border-radius: 3px;
}

.LoadingOverlay {
  background: linear-gradient(95deg, #ffffff, #f6f6f6, #eeeeee);
  animation: Gradient 1.5s ease-out infinite;
  background-size: 200% 100%;
}

@keyframes Gradient {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
